a.dropdown-toggle(href="", data-toggle ="dropdown", ng-show="identity.isAuthenticated()") Screens
  b.caret
ul.dropdown-menu
  li
    a(href="/screens/inventory") Inventory
  li
    a(href="/screens/outbound") Outbound
  li
    a(href="/screens/inbound") Inbound
  li
    a(href="/screens/locations") Locations
  li
    a(href="/screens/products") Products
  li
    a(href="/screens/search") Search