a.dropdown-toggle(href="", data-toggle ="dropdown", ng-show="identity.isAuthenticated()") Screens
  b.caret
ul.dropdown-menu
  li
    a(href="/screens/products") Products
  li
    a(href="/screens/reports") Reports
  li(ng-mouseenter="toggleInbound()", ng-mouseleave="toggleInbound()")
    a.dropdown-toggle(href="/screens/inbound") Inbound
    ul.downdown-menu(ng-show="showInbound === true")
      li
        a(href="/screens/inbound/order") Purchase Order
  li
    a(href="/screens/outbound") Outbound
