.container
  button-tabs
  item-details
  h4(ng-repeat="(key, val) in currentItem")
    p(ng-show="key !== 'locations'") {{ key }}: {{ val }}
    p(ng-show="key == 'locations'") {{ key }}: {{ locations }}
