.btn-tabs
  button.btn.btn-default(ng-repeat="itemButton in buttons", ng-click="itemButton.click(itemButton.id, currentItem)", ng-show="identity.isAuthorized(itemButton.auth)", ng-class="{active: itemButton.isCurrent(itemButton.id)}") {{ itemButton.text }}
    //a.link-alias(href="{{ itemButton.url }}") {{ itemButton.text }}