h1.form-inline.text-center(ng-class="css") {{ title }}
.pull-right
  form.form-inline
    .form-group
      input.form-control(ng-model="searchText", placeholder="Filter")
    .form-group
      select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
