h1.form-inline.text-center(ng-class="{ product: type == 'product', inbound: type == 'inbound', outbound: type == 'outbound', inventory: type == 'inventory', locations: type == 'location', search: type == 'search'}") {{ title }}
.pull-right
  form.form-inline
    .form-group
      input.form-control(ng-model="searchText", placeholder="Filter")
    .form-group
      select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
