body
  padding-top 70px
.navbar
  height 70px
.navbar-nav a
  margin-top 8px
.navbar-form a
  margin-top 0px
footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

.navbar-form
  .form-group
    margin-left 10px
    margin-top 8px
  button
    margin-left 10px
    margin-top 8px

.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button).cancel
    background-color red
.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button).ok
    background-color green

.toast-top-right
  top 70px


a.link-alias
  text-decoration none
  color #000
a.link-alias-white
  text-decoration none
  color #fff
.product
  button
    width 120px
.btn-tabs
  button
    margin-right 5px

.vertical-center
  vertical-align middle

.top-padding-med
  padding-top 10px

.margin-left-med
  margin-left 10px

.content-container
  margin 20px
  padding-top 10px
  //background-color #c3c3c3

$product-main-color = #000000
$product-text-color = white

$inventory-main-color = #464646
$inventory-text-color = white

$inbound-main-color = #5a5a5a
$inbound-text-color = white

$outbound-main-color = #6b6b6b
$outbound-text-color = white

$locations-main-color = #7c7c7c
$locations-text-color = white

$search-main-color = #969696
$search-text-color = white

.panel-primary
  .product
    background-color $product-main-color
    border-color $product-main-color
    a
      color $product-text-color

  .inbound
    background-color $inbound-main-color
    border-color $inbound-main-color
    a
      color $inbound-text-color

  .inventory
    background-color $inventory-main-color
    border-color $inventory-main-color
    a
      color $inventory-text-color

  .locations
    background-color $locations-main-color
    border-color $locations-main-color
    a
      color $locations-text-color

  .outbound
    background-color $outbound-main-color
    border-color $outbound-main-color
    a
      color $outbound-text-color

  .search
    background-color $search-main-color
    border-color $search-main-color
    a
      color $search-text-color

.product
  border-color $product-main-color
.inbound
  border-color $inbound-main-color
.outbound
  border-color $outbound-main-color
.inventory
  border-color $inventory-main-color
.locations
  border-color $locations-main-color
.search
  border-color $search-main-color

.product-header
  background-color $product-main-color
  color $product-text-color
.inbound-header
  background-color $inbound-main-color
  color $inbound-text-color
.outbound-header
  background-color $outbound-main-color
  color $outbound-text-color
.inventory-header
  background-color $inventory-main-color
  color $inventory-text-color
.locations-header
  background-color $locations-main-color
  color $locations-text-color
.search-header
  background-color $search-main-color
  color $search-text-color

.text-black
  color #000
.text-white
  color #fff
.text-red
  color #880000