body {
  padding-top: 70px;
}
.navbar {
  height: 70px;
}
.navbar-nav a {
  margin-top: 8px;
}
.navbar-form a {
  margin-top: 0px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
  margin-top: 8px;
}
.navbar-form button {
  margin-left: 10px;
  margin-top: 8px;
}
.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button).cancel {
  background-color: #f00;
}
.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button).ok {
  background-color: #008000;
}
.toast-top-right {
  top: 70px;
}
a.link-alias {
  text-decoration: none;
  color: #000;
}
a.link-alias-white {
  text-decoration: none;
  color: #fff;
}
.product button {
  width: 120px;
}
.btn-tabs button {
  margin-right: 5px;
}
.vertical-center {
  vertical-align: middle;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.content-container {
  margin: 20px;
  padding-top: 10px;
}
.panel-primary .product {
  background-color: #000;
  border-color: #000;
}
.panel-primary .product a {
  color: #fff;
}
.panel-primary .inbound {
  background-color: #646464;
  border-color: #646464;
}
.panel-primary .inbound a {
  color: #fff;
}
.panel-primary .inventory {
  background-color: $inventory-main-color;
  border-color: $inventory-main-color;
}
.panel-primary .inventory a {
  color: $inventory-text-color;
}
.panel-primary .locations {
  background-color: $locations-main-color;
  border-color: $locations-main-color;
}
.panel-primary .locations a {
  color: $locations-text-color;
}
.panel-primary .outbound {
  background-color: #969696;
  border-color: #969696;
}
.panel-primary .outbound a {
  color: #fff;
}
.panel-primary .reports {
  background-color: #323232;
  border-color: #323232;
}
.panel-primary .reports a {
  color: #fff;
}
.product {
  border-color: #000;
}
.reports {
  border-color: #323232;
}
.inbound {
  border-color: #646464;
}
.outbound {
  border-color: #969696;
}
.product-header {
  background-color: #000;
  color: #fff;
}
.reports-header {
  background-color: #323232;
  color: #fff;
}
.inbound-header {
  background-color: #646464;
  color: #fff;
}
.outbound-header {
  background-color: #969696;
  color: #fff;
}
.text-black {
  color: #000;
}
.text-white {
  color: #fff;
}
.text-red {
  color: #800;
}
