body
  padding-top 120px
  background-color white
  margin 0
.navbar
  height 70px
  margin-bottom 20px
.navbar-nav a
  margin-top 8px
.navbar-form a
  margin-top 0px
.navbar-form
  .form-group
    margin-left 10px
    margin-top 8px
  button
    margin-left 10px
    margin-top 8px

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button).cancel
    background-color red
.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button).ok
    background-color green

.toast-top-right
  top 70px


a.link-alias
  text-decoration none
  color #000
a.link-alias-white
  text-decoration none
  color #fff
.product
  button
    width 120px

.btn-tabs
  button
    position relative
    z-index 99
    top -33px
    border-top none
    border-top-right-radius 20px
    border-top-left-radius 5px
    border-bottom-left-radius 0px
    border-bottom-right-radius 0px
    background-color #f5f5f5
    border-color #f5f5f5
  button.active
    border-color #eeeeee
    background-color #eeeeee
  button:hover
    background-color #d4d4d4

.non-tab
  margin-bottom 20px
  margin-right 5px

.vertical-center
  vertical-align middle

.top-padding-med
  padding-top 10px

.margin-left-med
  margin-left 10px

.container
  width 100%

.content-container
  width 80%
  background-color #eeeeee
  margin-left auto
  margin-right auto
  //margin 20px
  //padding-top 10px
  //background-color #c3c3c3

$product-main-color = #000000
$product-text-color = white

$reports-main-color = #323232
$reports-text-color = white

$inbound-main-color = #646464
$inbound-text-color = white

$outbound-main-color = #969696
$outbound-text-color = white

$locations-main-color = #000000
$locations-text-color = white

$inventory-main-color = #000000
$inventory-text-color = white

.panel-primary
  .product
    background-color $product-main-color
    border-color $product-main-color
    a
      color $product-text-color

  .inbound
    background-color $inbound-main-color
    border-color $inbound-main-color
    a
      color $inbound-text-color

  .inventory
    background-color $inventory-main-color
    border-color $inventory-main-color
    a
      color $inventory-text-color

  .locations
    background-color $locations-main-color
    border-color $locations-main-color
    a
      color $locations-text-color

  .outbound
    background-color $outbound-main-color
    border-color $outbound-main-color
    a
      color $outbound-text-color

  .reports
    background-color $reports-main-color
    border-color $reports-main-color
    a
      color $reports-text-color

.product
  border-color $product-main-color
.reports
  border-color $reports-main-color
.inbound
  border-color $inbound-main-color
.outbound
  border-color $outbound-main-color

.product-header
  background-color $product-main-color
  color $product-text-color
.reports-header
  background-color $reports-main-color
  color $reports-text-color
.inbound-header
  background-color $inbound-main-color
  color $inbound-text-color
.outbound-header
  background-color $outbound-main-color
  color $outbound-text-color

.text-black
  color #000
.text-white
  color #fff
.text-red
  color #880000
.click
  cursor pointer

.table-header-bar
  background-color #b9b9b9
  th
    min-width 120px
    border 1px solid #ffffff

.small
  max-width 20px

.no-overflow
  overflow hidden

//Overlay
.overlay
  position absolute
  top 25%
  button
    margin-left 35%
  .overlay-container
    position relative
    border 2px solid black
    overflow auto
    min-height 400px
    min-width 600px
    height 400px
    width 600px
    margin-left 35%
  li
    list-style none

//submenu
.dropdown-submenu
  position relative
.dropdown-submenu
  .dropdown-menu
    top 0
    left 100%
    margin-top -6px
    margin-left -1px
    -webkit-border-radius 0 6px 6px 6px
    -moz-border-radius 0 6px 6px 6px
    border-radius 0 6px 6px 6px

.dropdown-submenu:hover
  .dropdown-menu
    display block

.dropdown-submenu
  a:after
    display block
    content " "
    float right
    width 0
    height 0
    border-color transparent
    border-style solid
    border-width 5px 0 5px 5px
    border-left-color #cccccc
    margin-top 5px
    margin-right -10px

.dropdown-submenu:hover
  a:after
    border-left-color #ffffff

.dropdown-submenu.pull-left
  float none

.dropdown-submenu.pull-left
  .dropdown-menu
    left -100%
    margin-left 10px
    -webkit-border-radius 6px 0 6px 6px
    -moz-border-radius 6px 0 6px 6px
    border-radius 6px 0 6px 6px
//end submenu

.margin-right-15
  margin-right 15px
.margin-right-30
  margin-right 30px

.table-striped > tbody > tr:nth-of-type(odd).lowQuantity, .lowQuantity
  background #ffa60c