body {
  padding-top: 70px;
  margin: 0;
}
.navbar {
  height: 70px;
}
.navbar-nav a {
  margin-top: 8px;
}
.navbar-form a {
  margin-top: 0px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
  margin-top: 8px;
}
.navbar-form button {
  margin-left: 10px;
  margin-top: 8px;
}
.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button).cancel {
  background-color: #f00;
}
.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button).ok {
  background-color: #008000;
}
.toast-top-right {
  top: 70px;
}
a.link-alias {
  text-decoration: none;
  color: #000;
}
a.link-alias-white {
  text-decoration: none;
  color: #fff;
}
.product button {
  width: 120px;
}
.btn-tabs button {
  margin-right: 5px;
}
.vertical-center {
  vertical-align: middle;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.content-container {
  margin: 20px;
  padding-top: 10px;
}
.panel-primary .product {
  background-color: #000;
  border-color: #000;
}
.panel-primary .product a {
  color: #fff;
}
.panel-primary .inbound {
  background-color: #646464;
  border-color: #646464;
}
.panel-primary .inbound a {
  color: #fff;
}
.panel-primary .inventory {
  background-color: #000;
  border-color: #000;
}
.panel-primary .inventory a {
  color: #fff;
}
.panel-primary .locations {
  background-color: #000;
  border-color: #000;
}
.panel-primary .locations a {
  color: #fff;
}
.panel-primary .outbound {
  background-color: #969696;
  border-color: #969696;
}
.panel-primary .outbound a {
  color: #fff;
}
.panel-primary .reports {
  background-color: #323232;
  border-color: #323232;
}
.panel-primary .reports a {
  color: #fff;
}
.product {
  border-color: #000;
}
.reports {
  border-color: #323232;
}
.inbound {
  border-color: #646464;
}
.outbound {
  border-color: #969696;
}
.product-header {
  background-color: #000;
  color: #fff;
}
.reports-header {
  background-color: #323232;
  color: #fff;
}
.inbound-header {
  background-color: #646464;
  color: #fff;
}
.outbound-header {
  background-color: #969696;
  color: #fff;
}
.text-black {
  color: #000;
}
.text-white {
  color: #fff;
}
.text-red {
  color: #800;
}
.click {
  cursor: pointer;
}
.table-header-bar {
  background-color: #b9b9b9;
}
.table-header-bar th {
  min-width: 120px;
  border: 1px solid #fff;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover .dropdown-menu {
  display: block;
}
.dropdown-submenu a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.small {
  max-width: 20px;
}
.overlay {
  position: absolute;
  height: 400px;
  width: 600px;
  left: 33%;
}
.overlay .container {
  border: 2px solid #000;
  overflow: auto;
  height: 100%;
  width: 100%;
  background: #fff;
}
.overlay li {
  list-style: none;
}
