extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top(ng-controller="mvMainCtrl")
    .container
      .navbar-header
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li.dropdown
            a.dropdown-toggle(href="", data-toggle ="dropdown", ng-show="identity.isAuthenticated()") Screens
              b.caret
            ul.dropdown-menu
              li
                a(href="/screens/inventory") Inventory
              li
                a(href="/screens/outbound") Outbound
              li
                a(href="/screens/inbound") Inbound
              li
                a(href="/screens/locations") Locations
              li
                a(href="/screens/products") Products
              li
                a(href="/screens/search") Search
        div(ng-include="'/partials/account/navbar-login'")
            
  section.content
    div(ng-view)

  footer.container.text-center
    p &copy; 2015 David Cole
