extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top(ng-controller="mvMainCtrl")
    .container
      .navbar-header
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li.dropdown(ng-include="'/partials/screens/screens'")
          li.dropdown
            a.dropdown-toggle(href="", data-toggle = "dropdown", ng-show="identity.currentUser.isAdmin()") Admin
              b.caret
            ul.dropdown-menu
              li
                a(href='/admin/users') User Admin

        div(ng-include="'/partials/account/navbar-login'")
            
  section.content.content-container
    div(ng-view)

  footer.container.text-center
    p &copy; 2015 David Cole
