.container
  button-tabs
  list-items
  table.table.table-hover.table-striped.table-condensed
    thead
      tr.table-header-bar
        th.click(ng-show="sortOrder != 'name' && sortOrder != '-name'", ng-click="sortOrder = 'name'") Name
        th.click(ng-show="sortOrder == 'name' || sortOrder == '-name'", ng-click="reverseOrder(sortOrder)") Name
          b.caret(ng-show="sortOrder == 'name'")
          b.dropup(ng-show="sortOrder == '-name'")
            b.caret
        th.click(ng-show="sortOrder != 'description' && sortOrder != '-description'", ng-click="sortOrder = 'description'") Description
        th.click(ng-show="sortOrder == 'description' || sortOrder == '-description'", ng-click="reverseOrder(sortOrder)") Description
          b.caret(ng-show="sortOrder == 'description'")
          b.dropup(ng-show="sortOrder == '-description'")
            b.caret
        th.click(ng-show="sortOrder != 'upc' && sortOrder != '-upc'", ng-click="sortOrder = 'upc'") UPC
        th.click(ng-show="sortOrder == 'upc' || sortOrder == '-upc'", ng-click="reverseOrder(sortOrder)") UPC
          b.caret(ng-show="sortOrder == 'upc'")
          b.dropup(ng-show="sortOrder == '-upc'")
            b.caret
        th.click(ng-show="sortOrder != 'product_id' && sortOrder != '-product_id'", ng-click="sortOrder = 'product_id'") Product ID
        th.click(ng-show="sortOrder == 'product_id' || sortOrder == '-product_id'", ng-click="reverseOrder(sortOrder)") Product ID
          b.caret(ng-show="sortOrder == 'product_id'")
          b.dropup(ng-show="sortOrder == '-product_id'")
            b.caret
        th.click(ng-show="sortOrder != 'quantity' && sortOrder != '-quantity'", ng-click="sortOrder = 'quantity'") Quantity
        th.click(ng-show="sortOrder == 'quantity' || sortOrder == '-quantity'", ng-click="reverseOrder(sortOrder)") Quantity
          b.caret(ng-show="sortOrder == 'quantity'")
          b.dropup(ng-show="sortOrder == '-quantity'")
            b.caret
        th.click(ng-show="sortOrder != 'price' && sortOrder != '-price'", ng-click="sortOrder = 'price'") Price
        th.click(ng-show="sortOrder == 'price' || sortOrder == '-price'", ng-click="reverseOrder(sortOrder)") Price
          b.caret(ng-show="sortOrder == 'price'")
          b.dropup(ng-show="sortOrder == '-price'")
            b.caret
        th.click(ng-show="sortOrder != 'manufacturer' && sortOrder != '-manufacturer'", ng-click="sortOrder = 'manufacturer'") Manufacturer
        th.click(ng-show="sortOrder == 'manufacturer' || sortOrder == '-manufacturer'", ng-click="reverseOrder(sortOrder)") Manufacturer
          b.caret(ng-show="sortOrder == 'manufacturer'")
          b.dropup(ng-show="sortOrder == '-manufacturer'")
            b.caret
    tbody
      tr(ng-repeat="product in products | filter:search | orderBy:sortOrder")
        td
          a(href="/admin/product/{{product._id}}") {{ product.name }}
        td {{ product.description }}
        td {{ product.upc }}
        td {{ product.product_id }}
        td {{ product.quantity }}
        td {{ product.price | currency:"$":2}}
        td {{ product.manufacturer }}

  .overlay(ng-show="isAdding()")
    button.btn.btn-warning(ng-click="cancel()") Cancel
    .overlay-container.well.text-center#dog(style="height: 600px")
      .no-overflow
        form.form-horizontal(name="addProductForm")
          fieldset
            legend Creating Product
            .form-group
              label.col-md-3.control-label(for="name") Name *
              .col-md-9
                input.form-control(name="name", type="text", placeholder="Product Name", ng-model="name", select-on-click, required)
            .form-group
              label.col-md-3.control-label(for="product_id") Product ID *
              .col-md-9
                input.form-control(name="product_id", type="text", placeholder="Product ID", ng-model="product_id", select-on-click, required)
            .form-group
              label.col-md-3.control-label(for="price") Unit Price *
              .col-md-9
                input.form-control(name="price", type="text", placeholder="Product Price", ng-model="price", select-on-click, required)
            .form-group
              label.col-md-3.control-label(for="description") Description
              .col-md-9
                input.form-control(name="description", type="text", placeholder="Product Description", ng-model="description", select-on-click)
            .form-group
              label.col-md-3.control-label(for="upc") UPC
              .col-md-9
                input.form-control(name='upc', type="text", placeholder="Product UPC", ng-model="upc", select-on-click)
            .form-group
              label.col-md-3.control-label(for="quantity") Quantity
              .col-md-9
                input.form-control(name="quantity", type="text", placeholder="Product Quantity", ng-model="quantity", select-on-click)
            .form-group
              label.col-md-3.control-label(for="manufacturer") Manufacturer
              .col-md-9
                input.form-control(name="manufacturer", type="text", placeholder="Product Manufacturer", ng-model="manufacturer", select-on-click)
            .form-group
              label.col-md-3.control-label(for="alarm") Low-Level Alarm
              .col-md-1
                input.checkbox-inline(style="vertical-align: bottom", type="checkbox", ng-model="alarm")
            .form-group
              label.col-md-3.control-label(for="alarm_at", ng-show="alarm") Set Low-Level Alarm at:
              .col-md-1
                input(name="alarm_at", type="text", ng-model="alarm_at", ng-show="alarm", placeholder="1000", select-on-click)
            .form-group
              .col-md-10.col-md-offset-2
                button.btn.btn-primary(ng-click="addProduct()", ng-disabled="addProductForm.$invalid") Confirm
                | &nbsp;
                a.btn.btn-default(ng-click="cancel()") Cancel