.container
  h1.form-inline {{ user.firstName + ' ' + user.lastName }}
  button.breadcrumb(ng-click="deleteUser(user._id, user.firstName, user.lastName)") Delete User
  hr
  h4(ng-repeat="(key, val) in user") {{ key }}: {{ val }}
