.navbar-right(ng-controller="mvNavBarLoginCtrl")
  form.navbar-form(ng-hide="identity.isAuthenticated()")
    .form-group(ng-show="signInFormToggle")
      input.form-control(placeholder="Username", ng-model="username")
    .form-group(ng-show="signInFormToggle")
       input.form-control(type="password", placeholder="Password", ng-model="password")
    button.btn.btn-primary.margin-right-15(ng-click="signin(username, password)") Sign In
  ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
    li.dropdown
      a.dropdown-toggle.margin-right-30(href="", data-toggle="dropdown")
        | {{ identity.currentUser.firstName + " " + identity.currentUser.lastName }}
        b.caret
      ul.dropdown-menu
        li
          a(href='/profile/{{ identity.currentUser._id }}') Profile
        li
          a(href="", ng-click="signout()") Sign Out