.container
  h1.well.inbound-header.text-center New Purchase Order
  button.btn.btn-default(ng-show="checkbox === false") Delete Selected
  button.btn.btn-danger(ng-show="checkbox === true") Delete Selected
  button.btn.btn-default Add Product
  br
  br
  form(name="purchaseOrderForm")
    table.table.table-hover.table-striped.table-condensed
      thead
        tr.table-header-bar
          th.small √
          th Product
          th UPC
          th Product ID
          th Unit Price
          th Manufacturer
          th Quantity
          th Line Total

      tbody
        tr(ng-repeat="product in productsToOrder")
          td
            input(type="checkbox", ng-model="checkbox")
          td {{ product.name }}
          td {{ product.upc }}
          td {{ product.product_id }}
          td {{ product.price }}
          td {{ product.manufacturer }}
          td
            input(type="text", value="{{quantityToOrder}}", ng-model="quant", ng-change="recalculate(product.price, quant)", required)
          td {{ totalPerProduct | currency}}
  .form-group
    .col-md-10.col-md-offset-2
      .pull-right
        a.btn.btn-primary(href="/", ng-disabled="purchaseOrderForm.$invalid") Place Order
        | &nbsp;
        a.btn.btn-default(ng-click="cancel()") Discard
        //TODO: link up delete checkbox with the delete button
        //TODO: make the place order button work