.container
  h1.well.inbound-header.text-center New Purchase Order
  .btn-tabs
    button.btn.btn-default(ng-show="checkbox === false") Delete Selected
    button.btn.btn-danger(ng-show="checkbox === true") Delete Selected
    button.btn.btn-default(ng-click="toggleIsAdding()") Add Product
  br
  br

  form(name="purchaseOrderForm")
    table.table.table-hover.table-striped.table-condensed
      thead
        tr.table-header-bar
          th.small √
          th Product
          th UPC
          th Product ID
          th Unit Price
          th Manufacturer
          th Quantity
          th Line Total

      tbody
        tr(ng-repeat="product in productsToOrder")
          td
            input(type="checkbox", ng-model="checkbox")
          td {{ product.name }}
          td {{ product.upc }}
          td {{ product.product_id }}
          td {{ product.price }}
          td {{ product.manufacturer }}
          td
            input(type="text", ng-model="quant", ng-change="recalculate(product, quant);", required)
          td {{ product.totalPerLine | currency}}

  .form-group
    .col-md-10.col-md-offset-2
      .pull-right
        .form-group
          label.control-label(for="total") Total
            input.form-control(name="total", type="text", ng-model="total | currency", required)
        a.btn.btn-primary(href="/", ng-disabled="purchaseOrderForm.$invalid", ng-click="placeOrder(productsToOrder)") Place Order
        | &nbsp;
        a.btn.btn-default(ng-click="cancel()") Discard

  .overlay(ng-show="isAdding()")
    button.btn.btn-warning(ng-click="toggleIsAdding()") Close
    .container.text-center
      h1.inbound-header Pick a product
      hr
      ul
        li(ng-repeat="product in products")
          a(ng-click="addProduct(product)") {{ product.name }}
       //TODO: link up delete checkbox with the delete button
        //TODO: make the place order button work