.container
  button-tabs
  list-items
  button.btn.btn-default.non-tab(ng-click="toggleViewOrders()", ng-show="!isViewingOrders") View Orders
  br

  table.table.table-hover.table-striped.table-condensed(ng-show="isViewingOrders")
    thead
      tr
        th.table-header-bar.text-center(colspan="4")
          h4 Orders
      tr.table-header-bar
        th.click(ng-show="sortOrder != 'orderNumber' && sortOrder != '-orderNumber'", ng-click="sortOrder = 'orderNumber'")  Order Number
        th.click(ng-show="sortOrder == 'orderNumber' || sortOrder == '-orderNumber'", ng-click="reverseOrder(sortOrder)")  Order Number
          b.caret(ng-show="sortOrder == 'orderNumber'")
          b.dropup(ng-show="sortOrder == '-orderNumber'")
            b.caret
        th.click(ng-show="sortOrder != 'created' && sortOrder != '-created'", ng-click="sortOrder = 'created'")  Date Ordered
        th.click(ng-show="sortOrder == 'created' || sortOrder == '-created'", ng-click="reverseOrder(sortOrder)") Date Ordered
          b.caret(ng-show="sortOrder == 'created'")
          b.dropup(ng-show="sortOrder == '-created'")
            b.caret
        th.click(ng-show="sortOrder != 'totalUnits' && sortOrder != '-totalUnits'", ng-click="sortOrder = 'totalUnits'") Number of Products
        th.click(ng-show="sortOrder == 'totalUnits' || sortOrder == '-totalUnits'", ng-click="reverseOrder(sortOrder)") Number of Products
          b.caret(ng-show="sortOrder == 'totalUnits'")
          b.dropup(ng-show="sortOrder == '-totalUnits'")
            b.caret
        th.click(ng-show="sortOrder != 'status' && sortOrder != '-status'", ng-click="sortOrder = 'status'") Status
        th.click(ng-show="sortOrder == 'status' || sortOrder == '-status'", ng-click="reverseOrder(sortOrder)") Status
          b.caret(ng-show="sortOrder == 'status'")
          b.dropup(ng-show="sortOrder == '-status'")
            b.caret
        //th Order Number
        //th Date Ordered
        //th Number of Products
        //th Status
    tbody
      tr(ng-repeat="openOrder in openOrders | filter:search | orderBy:sortOrder")
        td
          a.click(ng-click="viewOrder(openOrder)") {{ openOrder.orderNumber }}
        td {{ openOrder.created | date }}
        td {{ openOrder.totalUnits }}
        td {{ openOrder.status }}

  table.table.table-hover.table-striped.table-condensed(ng-show="!isViewingOrders")
    thead
      tr
        th.table-header-bar.text-center(colspan="4")
          h4 Receiving Order {{ orderToReceive.orderNumber }}
      tr.table-header-bar
        th Product
        th Product ID
        th UPC
        th Amount Open
    tbody
      tr(ng-repeat="product in orderToReceive.products")
        td(ng-show="product.quantityOpen > 0")
          a.click(ng-click="receiveProduct(product)") {{ product.name }}
        td(ng-show="product.quantityOpen === 0") {{ product.name }}
        td {{ product.product.product_id }}
        td {{ product.product.upc }}
        td {{ product.quantityOpen }}

  .overlay(ng-show="isReceiving()")
    button.btn.btn-warning(ng-click="toggleIsReceiving()") Cancel
    .overlay-container.well.text-center
      .no-overflow
        form.form-horizontal(name="receiveToLoadForm")
          fieldset
            legend Creating Load For {{ productToReceive.name }}
            .form-group
              label.col-md-2.control-label(for="quantity") Quantity
              .col-md-10
                input.form-control(name="quantity", type="text", placeholder="{{ productToReceive.quantityOpen }}", ng-model="quantity", required)
            .form-group
              label.col-md-2.control-label Location
              .col-md-10
                select.form-control(ng-model="location", ng-options="loc as loc.name for loc in locations", required)
            .form-group
              label.col-md-2.control-label(for="load") Load ID
              .col-md-10
                input.form-control(name="load", type="text", placeholder="Load ID", ng-model="load", required)
            .form-group
              .col-md-10.col-md-offset-2
                button.btn.btn-primary(ng-click="confirm()", ng-disabled="receiveToLoadForm.$invalid") Confirm
                | &nbsp;
                a.btn.btn-default(ng-click="toggleIsReceiving()") Cancel