.container
  button-tabs
  h1.well.inbound-header.text-center Receive
  button.btn.btn-default.non-tab(ng-click="toggleViewOrders()", ng-show="!isViewingOrders") View Orders
  br

  table.table.table-hover.table-striped.table-condensed(ng-show="isViewingOrders")
    thead
      tr
        th.table-header-bar.text-center(colspan="4")
          h4 Orders
      tr.table-header-bar
        th Order Number
        th Date Ordered
        th Number of Products
        th Status
    tbody
      tr(ng-repeat="openOrder in openOrders")
        td
          a.click(ng-click="viewOrder(openOrder)") {{ openOrder.orderNumber }}
        td {{ openOrder.created | date }}
        td {{ openOrder.totalUnits }}
        td {{ openOrder.status }}

  table.table.table-hover.table-striped.table-condensed(ng-show="!isViewingOrders")
    thead
      tr
        th.table-header-bar.text-center(colspan="4")
          h4 Receiving Order {{ orderToReceive.orderNumber }}
      tr.table-header-bar
        th Product
        th Product ID
        th UPC
        th Amount Open
    tbody
      tr(ng-repeat="product in orderToReceive.products")
        td(ng-show="product.quantityOpen > 0")
          a.click(ng-click="receiveProduct(product)") {{ product.name }}
        td(ng-show="product.quantityOpen === 0") {{ product.name }}
        td {{ product.product.product_id }}
        td {{ product.product.upc }}
        td {{ product.quantityOpen }}

  .overlay(ng-show="isReceiving()")
    button.btn.btn-warning(ng-click="toggleIsReceiving()") Cancel
    .overlay-container.well.text-center
      .no-overflow
        form.form-horizontal(name="receiveToLoadForm")
          fieldset
            legend Creating Load For {{ productToReceive.name }}
            .form-group
              label.col-md-2.control-label(for="quantity") Quantity
              .col-md-10
                input.form-control(name="quantity", type="text", placeholder="{{ productToReceive.quantityOpen }}", ng-model="quantity", required)
            .form-group
              label.col-md-2.control-label Location
              .col-md-10
                select.form-control(ng-model="location", ng-options="loc as loc.name for loc in locations", required)
            .form-group
              label.col-md-2.control-label(for="load") Load ID
              .col-md-10
                input.form-control(name="load", type="text", placeholder="Load ID", ng-model="load", required)
            .form-group
              .col-md-10.col-md-offset-2
                button.btn.btn-primary(ng-click="confirm()", ng-disabled="receiveToLoadForm.$invalid") Confirm
                | &nbsp;
                a.btn.btn-default(ng-click="toggleIsReceiving()") Cancel