.panel.panel-primary.outbound(ng-controller="mvMainOutboundCtrl")
  a.link-alias-white(href="/screens/outbound")
    .panel-heading.text-center.outbound Outbound
    .panel-body.text-black
      .text-center
        .row
          .col-md-6.text-right Number of Sales:
          .col-md-6.text-left {{ sales }}
        .row --
        .row --
        .col-md-12
