.panel.panel-primary.inbound(ng-controller="mvMainInboundCtrl")
  a.link-alias-white(href="/screens/inbound")
    .panel-heading.text-center.inbound Inbound
    .panel-body.text-black
      .text-center
        .row
          .col-md-6.text-right Open Orders:
          .col-md-6.text-left {{ inboundOrdersAmount }}
        .row --
        .row --
        .col-md-12
