.panel.panel-primary.search(ng-controller="mvMainSearchCtrl")
  a.link-alias-white(href="/screens/search")
    .panel-heading.text-center.search Search
    .panel-body.text-black
      .text-center
        .row Total Inventory: {{ inventory | number }}
        .row Total value of inventory: {{ value | currency }}
        .col-md-12
