.panel.panel-primary.product(ng-controller="mvMainProductsCtrl")
  a.link-alias-white(href="/screens/products")
    .panel-heading.text-center.product Product
    .panel-body.text-black
      .text-center
        .row
          .col-md-6.text-right Total Products:
          .col-md-6.text-left {{ inventory | number }}
        .row
          .col-md-6.text-right Product in location:
          .col-md-6.text-left {{ example }}
        .row
          .col-md-6.text-right Low-Quantity Products:
          .col-md-6.text-left 0
        .col-md-12
